@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h2 {
  color: #f1f903;
  text-align: center;
}

h1 {
  color: #3498db;
  text-align: center;
}
